name: Build

on:
  push:
    branches:
      - '**'
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - name: Run Checks
        run: ./gradlew buildPlugin

      - name: Upload Test Report
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: junit-test-results
          path: '**/build/test-results/**/*.xml'
          retention-days: 1

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          path: build/distributions/*.zip